

body{
background-image: url(https://thumbs.gfycat.com/HonestBonyCopperbutterfly-size_restricted.gif);
background-repeat: no-repeat;
background-position: center center ;
background-size: contain;
height: 1800px; 
background-attachment: fixed;
background-size: cover;
    
}

.misjuegosfavoritos{
    background: rgb(64, 53, 228);
    color: #b9222249;
}

.misjuegosfavoritos {
    text-align: center;
    color: white;
}

.minecraft{
    text-align: center;
    color: white;


}
.minecraftIM{
   display: block;
   margin-left: auto;
   margin-right: auto;

}

.requisitosminimosM{
    text-align: center;
    color: white;
}

.caracteristicasM{
    text-align: center;
    color: white;
}
.listadesordenada1{
    text-align: center;
}
.listadesordenada2{
    text-align: center;

}
.descarga1{
    text-align: center;
    color: white;
}
.descarga1-0{
    text-align: center;
    color: aliceblue;
    display: block
}

.video1{
    margin-left: auto;
   margin-right: auto;
    display: block;
}
.ark{
    text-align: center;
    color: white;
}

.arki{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
.requisitosA{
    text-align: center;
    color: white;
}
.listadesordenadA{
    text-align: center;
}
.caracteristicasA{
    text-align: center;
    color: white;
}
.listadesordenadA2{
    text-align: center;
}
.launcher{
    text-align: center;
    color: white;
}
.descargaA{
    text-align: center;
    color: white;
    display: block;
}
.videoA{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.cuphea{
    text-align: center;
    color: white;
}
.imagenC{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.requisitosC{
    text-align: center; 
    color: white;
}
.listadesordenadaC{
    text-align: center;
}
.caracteristicasC{
    text-align: center;
    color: white;
}
.listadesordenadaC1{
    text-align: center;
}
.descargarC{
    text-align: center;
    color: white;
}
.descargaC{
    text-align: center;
    color: white;
    display: block;
}
.videoC{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.GTAV{
    text-align: center;
    color: white;
}
.imagenG{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.requisitosG{
    text-align: center;
    color: white;
}
.listaesordenada{
    text-align: center;
}
.caracteristicaG{
    text-align: center;
    color: white;
}
.listadesordenadaG{
    text-align: center;
}
.rockstar{
    text-align: center;
    color: white;
}
.DESCARGARA{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}
.videoG{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.crash{
    text-align: center;
    color: white;
}
.imagenr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.requisitos{
    text-align: center;
    color: white;
}
.listadesordenadaR{
    text-align: center;
}
.caracteristicaR{
    text-align: center;
    color: white;
}
.listadesordenadR{
    text-align: center;
}
.descargaRR{
    text-align: center;
    color: white;
}
.videou{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.descargaRO{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}